<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sumitgouthaman.raven" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.sumitgouthaman.raven.MessageListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sumitgouthaman.raven.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.sumitgouthaman.raven.MessageListActivity" />
        <activity
            android:name="com.sumitgouthaman.raven.ChatThreadActivity"
            android:exported="true"
            android:label="@string/title_activity_chat_thread"
            android:parentActivityName="com.sumitgouthaman.raven.MessageListActivity" />
        <activity
            android:name="com.sumitgouthaman.raven.AddContactActivity"
            android:label="@string/title_activity_add_contact"
            android:parentActivityName="com.sumitgouthaman.raven.MessageListActivity" />

        <receiver
            android:name="com.sumitgouthaman.raven.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.sumitgouthaman.raven" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.sumitgouthaman.raven.DebugActivity"
            android:label="@string/title_activity_debug" >
        </activity>
        <activity
            android:name="com.sumitgouthaman.raven.DispatchGCMMessage"
            android:label="@string/title_activity_dispatch_gcmmessage" />
        <activity
            android:name="com.sumitgouthaman.raven.ShareViaRaven"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_share_via_raven" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sumitgouthaman.raven.SelfDestructingMessageCompose"
            android:label="@string/title_activity_sefl_destructing_message_compose" >
        </activity>
        <activity
            android:name="com.sumitgouthaman.raven.SelfDestructingMessageDisplay"
            android:label="@string/title_activity_self_destructing_message_display" >
        </activity>
        <activity
            android:name="com.sumitgouthaman.raven.NFCPairing"
            android:label="@string/title_activity_nfcpairing" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/com.sumitgouthaman.raven" />
            </intent-filter>
        </activity>

        <service
            android:name="com.sumitgouthaman.raven.services.DispatchMessageIntentService"
            android:exported="false" >
        </service>
        <service
            android:name="com.sumitgouthaman.raven.services.DispatchRegUpdateMessageIntentService"
            android:exported="false" >
        </service>
        <service
            android:name="com.sumitgouthaman.raven.services.DispatchNameUpdateMessageIntentService"
            android:exported="false" >
        </service>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.sumitgouthaman.raven.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sumitgouthaman.raven.permission.C2D_MESSAGE" />

</manifest>
